.parent-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-size: 16px;

    .container {
        width: 60%;
    }

    .selection-hierarchy {
        width: 20%;
        font-size: 16px;

        .selection-tab {
            font-size: 16px;
            height: 45vh;

            .search {
                width: 85%;
                border-radius: 5px;
                outline: none;
                border: 1px solid grey;
                padding: 3px 10px 3px 20px;
                font-size: 16px;
                margin-bottom: 5px;
            }

            .assetNode {
                padding: 5px 2px;
                width: 90%;
                border-radius: 10px;
                cursor: pointer;
            }

            .assetNode:hover {
                background-color: grey;
                color: white;
            }

        }

        .hierarchy {
            display: flex;
            flex-direction: column;
            height: 40vh;
            .hierarchy-models {
                cursor: pointer;

                .asset-content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2px;
                }
            }
        
        }

        .save-button {
            width: 50%;    
            margin-left: 22%;
        }
    }

    .properties-tab {
        width: 20%;
        display: flex;
        flex-direction: column;
        margin: 0px 2px;
        .action {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .input-group {
            display: flex;
            flex-direction: column;
        }
    }
}

button {
    border: 1px solid #cacaca;
    padding: 2px 5px;
    min-width: 25%;
}

input {
    border: 1px solid #d7d7d7;
}

.connection {
    .dataservice-connection {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            width: 60%;
        }

        input:focus-visible {
            outline: none;
            border-color: #4e4e4e;
        }

        button {
            width: 15%;
        }
    }
}