.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-container{
    border-right: 1px solid #d4d4d4;
    margin-right: 7px;
    height: 100vh;
    width: 60px;
}

.router-container{
    width: 100%;
}